<div class="aside">
    <h1>aside</h1>
    <form>
    <button type="submit" class="boton">Enviar aside</button>
</form>
<style>
    .aside{
        display: flex;
        background-color: darkgoldenrod;
        width: 25vw;
        height: 60vh;
    }
    .boton {
        background-color: aqua;
        color: black;
        border: 2px solid #555555;
        background-color: #d1bc44; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .boton:hover {
        background-color: rgb(226, 223, 39);
        color: white;
    }
</style>
</div>