<div class="header">
<h1>header</h1>
<form >
    <button type="submit"class="boton">enviar</button>
</form>
</div>
<style>
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darkolivegreen;
        width: 100vw;
        height: 20vh;
    }

    .boton {
        background-color: aqua;
        color: black;
        border: 2px solid #555555;
        background-color: #afa760; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        border-radius: 25px;
        margin-top: 15vw;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .boton:hover {
        background-color: rgb(146, 145, 59);
        color: white;
    }
</style>